.main-body {
    font-family: 'Work Sans';
    padding: 30px 70px;
}

.mt36 {
    margin-top: 36px;
}

.my-name {
    font-family: monospace;
    font-weight: bold;
    font-size: 16px
}

.half-width {
    display: inline-table;
    margin-right: 16px
}

.form-input {
    display: block;
    font-size: 24px;
    margin-top: 16px;
    height : 36px;
    font-family: 'Work Sans';
    padding: 12px 18px;
    margin-bottom: 16px
}

.submit-btn {
    margin-top: 0px;
    display: block;
    min-width: 64px;
    min-height: 32px;
    background-color: #980082;
    font-family: 'Work Sans';
    font-size: 24px;
    border: 0px;
    padding: 12px 24px;
    color: white;
    cursor: pointer;
    text-transform: uppercase
}